.history-page {
    background-color: #121212;
    color: #fff;
    height: 100vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .header {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
  }
  
  .calendar-container {
    margin-bottom: 20px;
  }
  
  .exercises-list {
    width: 100%;
    overflow-y: auto;
  }
  
  .exercise-item {
    display: flex;
    justify-content: space-between;
    background-color: #1e1e1e;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
  }
  
  .delete-icon {
    color: #ff0000;
    cursor: pointer;
  }
  
  .new-exercise-form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .new-exercise-form input {
    margin: 5px 0;
    padding: 10px;
    border: none;
    border-radius: 5px;
  }
  
  .add-icon {
    color: #00ff00;
    cursor: pointer;
    align-self: flex-end;
    margin: 10px 0;
  }
  #blues{
    font-size: 13px;
    width: 90px;
    background-color: moccasin;

  }
  #blues:hover{
    background-color: magenta;
    cursor: pointer;

  }

  